<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="true">
	<appender name="debugout"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/broker.debug</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>log/ble.debug.%d{yyyyMMdd}.gz</fileNamePattern>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%5p]%d{HH:mm:ss.SSS}[%X{id}] -- %m%n</pattern>
		</encoder>
	</appender>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%5p]%d{HH:mm:ss.SSS}[%X{id}] %c{5} -- %m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.sitech.crmpd" level="DEBUG" />
	<logger name="org.apache.zookeeper.ClientCnxn" level="ERROR" />
	<root level="INFO">
		<appender-ref ref="console" />
	</root>
</configuration>